@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  font-size: 62.5%;
  /* 1 rem = 10px */

  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}

body {
  margin: 0;
}

.container {
  background-image: url(./images/bg-desktop.svg);
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--violet);
}

header {
  place-self: start;
  margin: 5rem 5rem;
  margin-bottom: 0rem;
}

.conteudo {
  display: flex;
  margin-inline: 5rem;
}

.conteudo .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo .info h1 {
  margin: 5rem 3rem;
  margin-bottom: 0rem;
  font-family: "Poppins";
  font-size: 4.6rem;
  max-width: 20ch;
  color: #fff;
  font-weight: 700;
}

.conteudo .info p {
  margin-left: 3rem;
  margin-top: 0rem;
  font-family: "Poppins";
  font-size: 1.8rem;
  max-width: 50ch;
  color: #ffffffb4;
}

.conteudo .info a {
  margin-left: 3rem;
  background-color: #fff;
  width: 20rem;
  display: grid;
  place-items: center;
  padding-block: 1.5rem;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Open Sans";
  border-radius: 5rem;
}

.conteudo .info a:hover {
  cursor: pointer;
  background-color: var(--softMagenta);
  color: #fff;
  transition: all 0.5s;
}

.final {
  place-self: end end;
}

.final .redes {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 5rem;
}

.final .redes li {
  width: 3rem;
  fill: #fff;
}

.final .redes .facebook {
  width: 1.8rem;
}

.attribution {
  font-size: 1.6rem;
  text-align: center;
  font-family: "Poppins";
  color: #fff;
}
.attribution a {
  color: var(--softMagenta);
  text-decoration: none;
}

@media screen and (max-width: 1200px) {

  .container .logo img {
   width: 20rem;
  }

  .container .conteudo .imagemFundo img{
    width: 50rem;
  }

  .container .conteudo .info h1{
    font-size: 3rem;
  }

  .container .conteudo .info p{
    font-size: 1.4rem;
  }

  .container .conteudo .info a{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {

  .conteudo {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

   .container .conteudo .imagemFundo img{
     width: 40rem;
   }
 
   .container .conteudo .info h1{
     font-size: 3rem;
     text-align: center;
   }
 
   .container .conteudo .info p{
     font-size: 1.4rem;
   }
 
   .container .conteudo .info a{
     font-size: 1.5rem;
     place-self: center;
   }
}

@media screen and (max-width: 500px) {

  .container .logo img {
    width: 15rem;
   }

  .conteudo {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

   .container .conteudo .imagemFundo img{
     width: 28rem;
     margin-top: 5rem;
   }
 
   .container .conteudo .info h1{
     font-size: 2.3rem;
     text-align: center;
     margin-inline: 0rem;
   }
 
   .container .conteudo .info p{
     font-size: 1.8rem;
     text-align: center;
     margin-inline: 0rem
   }
 
   .container .conteudo .info a{
     font-size: 1.5rem;
     place-self: center;
     margin-inline: 0rem
   }

   .final {
    place-self: center;
    margin-top: 3rem;
  }

  
}